<%= form_for :login, Routes.login_path(ExblogWeb.Endpoint, :do_login), fn f -> %>
  <%= label f, :username %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>
  <br />
  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "login" %>
  </div>
<% end %>
