<h2><%= @post.title %></h2>
<div class="post">
  <%= {:safe, Earmark.as_html!(@post.body, [])} %>
  <h4>Posted by {@post.user.display_name} on {@post.published_at} GMT</h4>
</div>

<%= if Plug.Conn.get_session(@conn, :logged_in) do %>
  <span><.link navigate={~p"/posts/"<>"#{@post.id}"<>"/edit"}>Edit Post</.link></span>
<% end %>


<.back navigate={~p"/"}>Back to posts</.back>
