body {
  margin: auto;
  width: 70%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: Roboto, "Helvetica Neue", Arial;
  color:black;
  line-height:1.4
}

p {
  font-family: Georgia, serif;
  font-size: 1.3em;
  line-height: 1.5;
  max-width: 33em;
  margin-left: 2em;
}

img {
  width: 100%;
}

.footer img {
  width: auto;
}

@media only screen and (max-width: 800px) {
  body { width: 98% }
  p { font-size: 1em; margin:0; }
}
