:root{
    /* --blue: #053f5e;
    --middle-blue: #053f5e;
    --light-blue: #115173;
    --yellow: #ffd700;
    --orange: #ea6227;
    --light-orange: #f2a51a;
    --green: #b9ebcc; */
  --blue: #a3a3a4;
  --middle-blue: #00028c;
  --light-blue: #6b76ff;
  --yellow: #000;
  --orange: #fd5f00;
  --light-orange: #f2a51a;
  --green: #000;

}
body {
  margin: auto;
  width: 78%;
  max-width: 2500px;
  border: 0px solid var(--yellow);
  padding: 10px;
  font-family: Helvetica Neue, Arial;
  color: black;
  line-height:1.4;
  text-align: right;
}

#header div {
  text-align: right;
}

p {
  font-family: Times, serif;
  font-size: 1.3em;
  line-height: 1.3;
  max-width: 30em;
  margin-left: auto;
  margin-right: 3vw;
  text-align: left;
}

blockquote { margin-right: -3em; }

h2 {
    font-size: 2em;
    border-bottom: 5px solid black;
  }

img {
  max-width: 100%;
  max-height: 85vh;
}

a:link {
  color: var(--middle-blue);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--blue);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--orange);
  text-decoration: none;
}

/* selected link */
a:active {
  color: (--light-blue);
}



.footer img {
  width: auto;
}

/* @media only screen and (max-width: 800px) {
  body { width: 98% }
  p { font-size: 1em; margin:0; }
} */



@media only screen and (max-width: 900px) {
  body { width: 96% }
  p { font-size: 1em; margin:0; }
}


@media only screen and (max-width: 1200px) {
  p { font-family: Times, serif;
  font-size: 1em;
  line-height: 1.3;
  margin-left: auto;
  margin-right: 1vw;
  text-align: left; }
  img { max-width: 100%; max-height: 95vh; }
}
