<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Exblog · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
<body>
  <div id="page">
    <div class="content">
      <div id="header">
        <div id="top">
          <a href="/" class="title">matt.pictures</a>
        </div>
        <div id="bottom">
          <div class="buttons">

            <a href="https://patreon.com/user?u=738372">Patreon</a>
            <a href="http://matt.pictures/rss">RSS</a>
            <a href="http://instagram.com/photomattmills">Instagram</a>

            <a href="http://matt.pictures/portfolio">Portfolio</a>
            <a href="mailto:sunrisetimes@gmail.com">email me </a>
          </div>
        </div>
      </div>
      <div id="main">
        <div id="content-wrapper">
          <main role="main" class="container">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
      <br>
      <div id="footer" class="footer">
        <p>Copyright &copy; 2008-2017, Matt Mills.<br /></p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->

</body>
</html>
