<%= if Plug.Conn.get_session(@conn, :logged_in) do %>
<span><%= link "New Post", to: Routes.post_path(@conn, :new) %></span>
<% end %>
<div class="grid_post">

<%= for post <- @posts do %>
  <a href="<%= Routes.post_path(@conn, :show_by_slug, post.slug) %>"><img src="<%= post.og_image %>"/></a>  
<% end %>
</div>
