
<%= for post <- @posts do %>
  <div class="post">
    <h2><%= link post.title, to: Routes.post_path(@conn, :show_by_slug, post.slug) %></h2>
    <%= {:safe, Earmark.as_html!(post.body, [])} %>
    <p class="info">Posted by Matt on <%= post.inserted_at %> GMT</p>
  </div>

<% end %>
<span><%= link "New Post", to: Routes.post_path(@conn, :new) %></span>
