<h2><%= @post.title %></h2>
<div class="post">
  <%= {:safe, Earmark.as_html!(@post.body, [])} %>
  <h4>Posted by Matt on <%= post.published_at %> GMT</h4>
</div>

</ul>

<%= if Plug.Conn.get_session(@conn, :logged_in) do %>
<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<% end %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
