<h2><%= @post.title %></h2>
<div class="post">
  <%= {:safe, Earmark.as_html!(@post.body, [])} %>
  <p class="info">Posted by Matt on <%= @post.published_at %> GMT</p>
</div>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
